## Using a simple RNN for machine translation
This project is still in progress.

I'm busy doing the Udacity Natural Language Processing Nanodegree and I'm busy trying build an effective English to French translation model.

<a href='http://www.manythings.org/anki/'>Data</a>

In [26]:
import numpy as np
import pandas as pd

from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.models import Model
from keras.layers import GRU, Input, Dense, TimeDistributed, Activation, RepeatVector, Bidirectional, LSTM
from keras.layers.embeddings import Embedding
from keras.optimizers import Adam
from keras.losses import sparse_categorical_crossentropy

In [35]:
fname = 'nld-eng/nld.txt'
df = pd.read_csv(fname, header=None, sep='\t', lineterminator='\n')
df[:10]

       0               1
0    Hi.            Hoi.
1   Run!            Ren!
2   Who?            Wie?
3   Wow!  Da's niet gek!
4  Fire!           Vuur!
5  Fire!          Brand!
6  Help!           Help!
7  Jump.         Spring.
8  Stop!           Stop!
9  Stop!           Halt!

In [58]:
english = list(df.iloc[:, 0])
dutch = list(df.iloc[:, 1])

In [43]:
# Preprosessing  functions
def tokenize(x):
    text_tokenizer = Tokenizer()
    text_tokenizer.fit_on_texts(x)
    text_tokenized = text_tokenizer.texts_to_sequences(x)
    return text_tokenized, text_tokenizer

def pad(x, length=None):
    if length == None:
        length = max([len(sentance) for sentance in x])
    x = np.array(x)
    x_padded = pad_sequences(x, maxlen=length, dtype='int32', padding='post')
    return x_padded

def preprocess(x, y):
    preprocess_x, x_token = tokenize(x)
    preprocess_y, y_token = tokenize(y)
    preprocess_x = pad(preprocess_x)
    preprocess_y = pad(preprocess_y)
    return preprocess_x, preprocess_y, x_token, y_token

In [66]:
eng_tokenized, eng_tokenizer = tokenize(english)
dut_tokenized, dut_tokenizer = tokenize(dutch)

In [68]:
dut_tokenized[:100]

[[1759],
 [2979],
 [69],
 [5135, 8, 368],
 [771],
 [1052],
 [636],
 [2980],
 [1101],
 [3697],
 [2514],
 [2981],
 [1759],
 [1, 397, 3],
 [1, 15, 798],
 [3698, 1102],
 [1053],
 [1760, 31],
 [319],
 [2982],
 [34, 2143],
 [1, 854, 3],
 [1, 15, 47],
 [1, 43, 3],
 [1, 15, 1317],
 [1, 1054, 18],
 [1, 5136, 772],
 [1, 23, 2515, 89],
 [456],
 [9, 30, 8],
 [8, 39],
 [143],
 [143, 39],
 [319],
 [672, 33],
 [319],
 [63, 1],
 [1927],
 [773],
 [2144],
 [2983],
 [467, 25],
 [467, 25, 18],
 [170, 312],
 [139, 33, 312],
 [170, 18],
 [2984],
 [77, 140],
 [2984],
 [77, 140],
 [136, 2985],
 [136, 266],
 [10, 2145],
 [636, 25],
 [636, 25],
 [1, 23, 3, 772, 111],
 [1, 23, 698, 964, 5137],
 [1, 23, 7],
 [1, 23, 729],
 [1, 23, 349],
 [1, 23, 3699],
 [1, 23, 3],
 [1, 23, 3],
 [170, 28, 70, 200],
 [133, 59, 200],
 [170, 59, 3700],
 [894, 5, 31],
 [894, 5, 83, 70, 31],
 [502, 3],
 [136, 2516],
 [2986],
 [91, 108, 296, 200, 18],
 [267, 3],
 [298, 3, 25],
 [7, 1318],
 [7, 20, 477],
 [478, 2987],
 [167, 457],
 [19, 40, 386],
 [1761],
 [69, 1928, 24],
 [69, 20, 798],
 [63, 8],
 [84, 40, 798],
 [23, 1, 729],
 [458, 673],
 [965, 18],
 [3701, 5, 140],
 [61, 159],
 [269, 137],
 [749, 7],
 [3702, 47],
 [53, 750],
 [2988, 5],
 [1511, 18],
 [1055, 5],
 [1511, 18],
 [1, 23, 729],
 [1, 2517],
 [1, 23, 217, 173]]